/*******************************/
/********** UTILITIES **********/
/*******************************/

/****** Different sized containers ******/
.sm-container{
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
}
.md-container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
}
.lg-container{
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
}
.xl-container{
	width: 100%;
	max-width: 1120px;
	margin: 0 auto;
}

.flash-msg-container{
	width:100%;
	max-width: 300px;
	height: 37px;
	padding: 5px 0;
	background-color: #008AB8;
	border-bottom: 3px solid #006E93;
}


.error{
	color: red;
}
.uppercase{
	text-transform: uppercase;
}
.lowercase{
	text-transform: lowercase;
}
.underline{
	text-decoration: underline;
}
.align-left{
	text-align: left;
}
.align-center{
	text-align: center;
}
.align-right{
	text-align: right;
}
.v-align-middle{
	vertical-align: middle;
}
.transp-background{
	background: rgba(0, 0, 0, 0.2);
}

/********** COLORS ***********/
.light-blue{ color: #65AEEE; }
.green{ color: #3BC492; }
.red{ color: red;}
.black{ color: #000; }
.dark-grey{ color: #3A3E43; }
.dark-green{ color: #006400; }
.dark-blue{ color: #000080; }

.border{
	border: 1px solid #6A6E73;
}
.border-lr{
	border-left: 1px solid #6A6E73;
	border-right: 1px solid #6A6E73;
}
.border-tb{
	border-top: 1px solid #6A6E73;
	border-bottom: 1px solid #6A6E73;
}
.border-top{
	border-top: 1px solid #6A6E73;
}
.border-left{
	border-left: 1px solid #6A6E73;
}
.border-bottom{
	border-bottom: 1px solid #6A6E73;
}
.border-right{
	border-right: 1px solid #6A6E73;
}


/******** CURSORS ********/
.auto            { cursor: auto; }
.default         { cursor: default; }
.none            { cursor: none; }
.context-menu    { cursor: context-menu; }
.help            { cursor: help; }
.pointer         { cursor: pointer; }
.progress        { cursor: progress; }
.wait            { cursor: wait; }
.cell            { cursor: cell; }
.crosshair       { cursor: crosshair; }
.text            { cursor: text; }
.vertical-text   { cursor: vertical-text; }
.alias           { cursor: alias; }
.copy            { cursor: copy; }
.move            { cursor: move; }
.no-drop         { cursor: no-drop; }
.not-allowed     { cursor: not-allowed; }
.all-scroll      { cursor: all-scroll; }
.col-resize      { cursor: col-resize; }
.row-resize      { cursor: row-resize; }
.n-resize        { cursor: n-resize; }
.e-resize        { cursor: e-resize; }
.s-resize        { cursor: s-resize; }
.w-resize        { cursor: w-resize; }
.ns-resize       { cursor: ns-resize; }
.ew-resize       { cursor: ew-resize; }
.ne-resize       { cursor: ne-resize; }
.nw-resize       { cursor: nw-resize; }
.se-resize       { cursor: se-resize; }
.sw-resize       { cursor: sw-resize; }
.nesw-resize     { cursor: nesw-resize; }
.nwse-resize     { cursor: nwse-resize; }

/*	Clearfix hack */
.cf:before, 
.cf:after {
	content:"";
	display: table ;
	clear:both;
}
